.step h1 {
  font-size: 2em;
  font-weight: 600;
  line-height: 1.5em;
  margin-bottom: 0.5em;
}

.step h2 {
  font-size: 1.5em;
  font-weight: 600;
  margin-top: -0.7em;
  margin-bottom: 1em;
}

#title {
  font-size: 6em;
}

span.stepno {
  font-family: "Source Code Pro", monospace;
  font-weight: 500;
  border: 2px solid white;
  padding: 15px 26px;
  border-radius: 100px;
  margin-right: 30px;
}

.sideimg img {
  position: absolute;
  width: 270px;
  bottom: 5%;
  right: 10%;
  opacity: 0;
  transform: rotate(0deg);
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
  -webkit-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.sideimg.present img {
  right: 5%;
  opacity: 1;
  transform: rotate(5deg);
}

.step ul li {
  list-style: circle;
  margin-left: 1em;
  padding-left: 0.5em;
}

.step ul ul li {
  list-style: square;
  margin-left: 2.7em;
  padding-left: 0.8em;
}